<%= content_tag :li, class: %w(test), data: { status: 'idle', run: run_test_path(test) } do %>
  <div class="status" data-error="❌" data-success="✓">
  </div>
  <div>
    <%= link_to test.name.capitalize, test_path(id: test.name) %>
    <span class="message"></span>
  </div>
<% end %>

