<%= content_for :testrun do %>
  <a id="Run" data-running="false">Run all tests</a>
<% end %>


<main>
  <% @groups.each do |group| %>
    <section class='group'>
      <header>
        <%= content_tag :h3, group.name %>
      </header>
      <ul class="tests">
        <% if group.tests.any? %>
          <%= render partial: 'test', collection: group.tests, as: :test, locals: {group: group} %>
        <% else %>
          <li class='empty'>No test to run yet.</li>
        <% end %>
      </ul>
    </section>
  <% end %>
</main>
