<%= content_for :testrun do %>
  <a id="Run" data-running="false">Run all tests</a>
<% end %>


<main>
  <ul class="tests">
    <% if @tests.any? %>
      <%= render partial: 'test', collection: @tests, as: :test %>
    <% else %>
      <li class='empty'>No test to run yet.</li>
    <% end %>
  </ul>
</main>
