<%= content_for :testrun do %>
  <a id="Run" data-running="false">Run all tests</a>
<% end %>


<main>
  <ul class="tests">
    <% @directories.each do |dir| %>
      <%= content_tag :li, class: %w(test), data: { status: 'idle', run: run_test_path(id:dir.basename) } do %>
        <div class="status" data-error="❌" data-success="✓">
        </div>
        <div>
          <%= link_to dir.basename.to_s.capitalize, test_path(id: dir.basename) %>
          <span class="message"></span>
        </div>
      <% end %>
    <% end %>
  </ul>
</main>
